version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: salajuntas_db
    restart: always
    environment:
      MYSQL_DATABASE: salajuntas_db
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: salajuntas_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - DB_NAME=salajuntas_db
      - DB_USER=root
      - DB_PASSWORD=root_password
      - DB_HOST=db
      - DB_PORT=3306
    depends_on:
      - db

volumes:
  mysql_data:
